.product-card {
  border: 1px solid var(--accent);
  background-color: var(--background);
  padding: 10px;
  margin: 10px;
  text-align: center;
  width: 200px;
  border-radius: 10px;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.3s;
}

.product-card:hover {
  box-shadow: var(--button-hover-shadow);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product-card p {
  margin: 5px 0;
}

.product-card a {
  display: inline-block;
  margin: 10px 0;
}

.product-card button {
  background: var(--button-bg);
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  color: var(--text);
  font-weight: 500;
  transition: box-shadow 0.3s;
}

.product-card button:hover {
  box-shadow: var(--button-hover-shadow);
}